name: CI
on:
  push:
  pull_request:
jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Instalar dependencias
        run:
          pip install -r requirements.txt -r requirements-dev.txt

      - name: Ejecutar lint
        run: make lint
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Instalar dependencias
        run:
          pip install -r requirements.txt -r requirements-dev.txt
      
      - name: Ejecutar pruebas
        run: make test
